* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: 'Open Sans';
    font-weight: 600;
    font-size: 24px;
    line-height: 33px;
}


nav {
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 0 49px 0 19px;

    background: #FFFFFF;
    box-shadow: 1px 5px 20px rgba(74, 74, 74, 0.65);

    z-index: 1;
}

nav ul {
    display: flex;
    gap: 23px
}

nav li {
    list-style: none;
}

nav a {
    text-decoration: none;

    color: #777777;
}

.banner {
    width: 100%;

    position:relative;
    z-index: -1;
}
.first-section h1 {
    margin: 20px auto;
}
.first-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.div-first-section-photos {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 54px;

}

article {
    display: flex;
    justify-content: center;
    gap: 18px;
    flex-direction: column;
    align-items: center;
    background: #C2185B;
    margin-top: 200px;
    margin-bottom: 160px;
}

article h2 {
    font-family: 'Open Sans';
    font-weight: 800;
    font-size: 44px;
    line-height: 60px;

    color: #FFFFFF;
}

.produto {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;

    padding-bottom: 100px;
}

.produtos {
    font-weight: 600;
    font-size: 16px;
    line-height: 22px;

    background: #FFFFFF;

    box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.25);
    text-align: justify;
}

.produtos p {
    padding: 10px;
}

.second-section {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 28px;
}

.div-second-section {
    display: flex;
    flex-direction: column;
    justify-content:space-evenly;
    align-items: center;
    gap: 10px;
    
}

.div-second-section h2 {
    font-weight: 600;
    font-size: 39px;
    line-height: 53px;
    margin: auto;
    width: 500px;

    color: #000000;
}

.div-second-section button {
    font-weight: 60;
    font-size: 39px;
    line-height: 53px;

    margin-right: 138px;
    margin-bottom: 50px;
    border: none;
    padding: 23px 85px;

    color: #FFFFFF;
    background: #C2185B;
}

footer {
    margin-top: 120px;
    padding: 40px 20px 20px 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #FFFFFF;
    background: #C2185B;
}

footer a {
    font-weight: 400;
    font-size: 20px;
    line-height: 27px;
    text-decoration: none;
    text-align:start;
    

    color: #FFFFFF;
}

footer li {
    list-style: none;
}

footer ul {
    padding: 0;
}

footer h4 {
    margin: 0 auto;
}

.logo-footer {
    width: 200px;
    margin: 0px 260px 30px 130px;

    font-weight: 400;
    font-size: 14px;
    line-height: 19px;

}

.institucional-footer {
    margin-right: 150px;
}

.div-second-section button:hover {
    cursor: pointer;
    background-color: #971247;
}


/* ------ RESPONSIVE ------ */

@media (max-width: 600px) {

    .page {
        margin: 0;
        padding: 0;
    }

    nav {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
        margin-bottom: 10px;
        padding: 0;

    }

    nav ul {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 0 auto;
    }

    .banner {
        display: none;
    }

    .first-section {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-end;
        width: 100%;
    }

    .div-first-section-photos {
        flex-direction: column;
        justify-content: center;
        align-items:center;

    }

    .div-first-section-photos img {
        width: 100%;
    }

    article {
        width: 100%;
        display: flex;
        justify-content: center;
        flex-direction: column; 
    }

    .second-section {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 100%;
    }

    .div-second-section {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
    }

    .div-second-section h2 {
        width: 90%;
    }

    .div-second-section button {
        width: 90%;
        margin: 0 auto;
    }

    .div-second-section img{
        width: 100%;
    }

    .produto {
        width: 90vw;
        flex-direction: column;
        justify-content: center;
    }

    footer {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items:flex-start;
        justify-content: space-evenly;
        margin: 0 auto;
        padding: 20px;
    }

    .logo-footer {
        width: 0 auto;
        margin: 0;
    
    }

}